<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>订单列表</title>
    <link rel="stylesheet" href="css/global.css"/>
    <link rel="stylesheet" href="css/page.css"/>
    <!--[if lt IE 9]
    <script src="libs/html5shiv/html5shiv-printshiv.js" type="text/javascript"></script>
    <script src="libs/respond/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>
<div class="layout">
    <header class="top-bar por">
        <div class="logo-box meinian-logo poa">
        </div>
        <div class="login-name-box poa">
            你好， <span class="login-name">朱元璋</span>
        </div>
        <div class="login-exit poa">
            <a href="javascript;">安全退出</a>
        </div>
    </header>
    <section class="main" id="main">
        <div class="main-wrapper no-pad">
            <h3 class="main-title pl-10">
                添加名单
            </h3>

            <form action="">
                <div class="list-content">
                    <div class="info-list clearfix">
                        <div class="info-name fl">
                            <span>姓名<i class="red-star">*</i></span>
                        </div>
                        <div class="info-input fr">
                            <input id="clientName" type="text" value="" placeholder="此项必填" v-model="name"/>
                        </div>
                    </div>
                    <div class="info-list clearfix">
                        <div class="info-name fl">
                            <span>身份证号<i class="red-star">*</i></span>
                        </div>
                        <div class="info-input fr">
                            <input id="idNumber" type="text" value="" placeholder="此项必填" v-model="id"/>
                        </div>
                    </div>
                    <div class="info-list clearfix">
                        <div class="info-name fl">
                            <span>出生日期</span>
                        </div>
                        <div class="info-input fr">
                            <input id="birthDate" type="date" value="89546443122132311" v-model="date"/>
                        </div>
                    </div>
                    <div class="info-list clearfix">
                        <div class="info-name fl">
                            <span>性别<i class="red-star">*</i></span>
                        </div>
                        <div class="info-input fr">
                            <select id="sex" v-model="gender">
                                <option value="male">男</option>
                                <option value="female">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="info-list clearfix">
                        <div class="info-name fl">
                            <span>手机号<i class="red-star">*</i></span>
                        </div>
                        <div class="info-input fr">
                            <input class="input-text" id="phoneNumber" type="text" value="" placeholder="此项必填" v-model="phone"/>
                        </div>
                    </div>

                </div>
                <div class="default-btn-warp p-10">
                    <input @click="confirm()" id="loginBtn" type="submit" class="default-btn" value="下一步"/>
                </div>
            </form>

        </div>


    </section>
</div>

<script src="libs/jquery-3.2/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="./js/form_validate.js" type="text/javascript"></script>
<script src="libs/vue/vue.min.js" type="text/javascript"></script>
<script src="./js/myUtils.js" type="text/javascript"></script>
<script type="text/javascript">

    new Vue({
        el:'#main',
        data: {
            myData: [

            ],
            phone:'',
            gender:'',
            id: '',
            name: '',
            date:''
        },
        methods: {
            confirm: function () {

               this.myData.push({
                   name: this.name
               });





            }
        }
    });

</script>

</body>
</html>